@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #d9d9dfc2;
  --foreground: #09090b;

  --card: #ffffff99; /* Semi-transparent for Glass effect */
  --card-foreground: #09090b;

  --primary: #0284c7;
  /* Steel Blue 600 */
  --primary-foreground: #ffffff;

  --muted: #0000000d;
  --muted-foreground: #4b5563;

  --accent: #0000000d;
  --accent-foreground: #111827;

  --border: #0000001a;
}

.dark {
  --background: #353541b3;
  --foreground: #fafafa;

  --card: #1e1b4b4d; /* Deep Indigo-tinted dark glass */
  --card-foreground: #fafafa;

  --primary: #41c7d1;
  /* Sky Blue 400 for Dark Mode Contrast */
  --primary-foreground: #ffffff;

  --muted: #ffffff0d;
  --muted-foreground: #9ca3af;

  --accent: #ffffff0d;
  --accent-foreground: #f9fafb;

  --border: #ffffff1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}